/* if you dont remember this, which by god i hope you do. use exact pixel values. do it do it do it. they scale with the viewport. 
to figure out the animation top transition end point, multiply the line height (18px) by the number of lines.*/

img{
    width: 100px;
}

p{
    position:relative;
    margin: 0;
    padding: 0;
    top: 0;
    white-space: pre-line;
    font-family: Verdana;
    text-align: center;
}

.imgcontainer {
    max-width: 50px;
}

.display {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spinners {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: fit-content;
}

.column {
    width: 100px;
    max-width: 100px;
    margin: 10px;
    border-radius: 3px;
    outline: 3px solid black;
    display:absolute;
    height: 22px;
    line-height: 20px;
    overflow: hidden;
    background-color: #201f2b;
}

@media screen and (max-width: 450px){

    #bulb1, #bulb2{
        display:inline-block;
    }

    #lever {
        width: 100px;
    }

    .spinners {
        grid-template-columns: 100%;
    }

    .column {
        width: 100vw;
    }
}