body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    background-color: #222034;
    overflow-y: scroll;
}

main {
    display: block;
    overflow: auto;
    margin: 1%;
    padding: 0% 1% 0% 1%;
    outline: white 3px solid;
}

header {
    text-align: center;
}

h1, h2, p, li, ul, label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

li, ul {
    font-size: 20px;
}

ul > ul {
    margin-left: 10px;
}

a {
    color:#5FCDE4;
}

.decor {
    background-image: url("img/decor.png");
    background-repeat: repeat-y;
    background-size: 40%;
    image-rendering: crisp-edges;
}

.decor.right {
    transform:scaleX(-1);
}

main > div.contents {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

footer {
    display:none;
}

@media screen and (max-width: 600px){
    .decor {
        display:none !important;
    }
    body {
        display: block;
    }
    main > div.contents {
        width: 100%;
    }
    main {
        padding-bottom: 20%;
        display: block;
        overflow: auto;
        background-image: url("img/decor2.png") !important;
        background-position: bottom;
        background-repeat: repeat-x;
        background-size:5%;
        image-rendering: crisp-edges;
    }
    /* footer {
        display: block;
        height:30%;
        width:100%;
        top: 0%;
        display: block !important;

    } */
}

code {
    background-color: grey;
}

.centered {
    text-align: center;
}

img {
    max-width: 100%;
}

.story {
    white-space: pre-line;
    padding: 0% 1% 0% 1%;
}