body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: #222034;
    overflow-y: scroll;
}

main {
    padding: 1%;
    margin: 1%;
    outline: white 3px solid;
}

header {
    text-align: center;
}

h1, h2, p, li, ul, label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

li, ul {
    font-size: 20px;
}

ul > ul {
    margin-left: 10px;
}

a {
    color:#5FCDE4;
}

.decor {
    background-image: url("img/decor.png");
    background-repeat: repeat-y;
    background-size: 40%;
    image-rendering: crisp-edges;
}

.decor.left {
    background-position: left;
}

.decor.right {
    transform:scaleX(-1);
}

main > div.contents {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

@media screen and (max-width: 600px){
    .decor {
        display:none !important;
    }
    body {
        display: block;
    }
    main > div.contents {
        width: 100%;
    }
}

code {
    background-color: grey;
}

.centered {
    text-align: center;
}

img {
    max-width: 100%;
}

hr {
    color: white;
}

.longtext {
    white-space: pre-line;
}