<html>
    <head>

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="voidstranger.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <aside class="decor left"></aside>
        <main>
            <article>
                <header>
                    <h1>Do you remember <a href="/index.html">why you're here?</a></h1>
                    <img src="splash.png">
                    <h1>This is a full (WIP) guide for Void Stranger. It will spoil just about everything! You have been warned.</h1>
                    <h1>I highly recommend you play it for yourself, because it is an incredible game.</h1>
                    <h1>Void Stranger on <a href="https://store.steampowered.com/app/2121980/Void_Stranger/">Steam</a> or <a href="https://system-erasure.itch.io/void-stranger">itch.io</a></h1>
                    <br>
                    <div>
                        <h1 class="title">Table of contents.</h1>
                        {% for anchor in anchors %}
                            <a href="#{{anchor}}">{{anchor}}</a>
                        {% endfor %}
                    </div>
                </header>

                {% for character, domains in root.items() %}
                    {% if domains %}
                        {% for domain in domains %}
                            {% for domain_name_and_subtitle, domain_floors in domain.items() %}
                            <div class="domainContainer">
                            <div class="voidBox domainHeader">
                                {% set lines = domain_name_and_subtitle.split(" | ") %}
                                <h1 class="title">{{lines[0]}}</h1>
                                <p>{{lines[1]}}</p>
                            </div>

                            {% if domain_floors %}
                                {% for floor in domain_floors %}
                                <div class="voidBox" id="{{floor.get('Floor', '000')}}">
                                    <h1 class="floorNumber">{{floor.get("Type", "Puzzle")}} - {{floor.get("Floor", "N/A")}}</h1>
                                    <div class="imageAndNotes">
                                        <div>
                                            <img src="rooms/{{character}}/{{floor.get('Floor', '')}}.png">
                                            <div class="otherImages">
                                                {% for otherImages in floor.get("Other images", []) %}
                                                    <a href="rooms/{{character}}/{{floor.get('Floor', '')}} {{otherImages}}.png "target="_blank"><img src="rooms/{{character}}/{{floor.get('Floor', '')}} {{otherImages}}.png"></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        
                                        <div class="typeAndNotes">
                                            <p>{{floor.get("Notes", "")}}</p>
                                        </div>
                                        

                                    </div>

                                    {% for type, steps in floor.get("Steps", {}).items() %}
                                        <h1 class="title">{{type}}</h1>
                                        <div class="steps">
                                            {% for step_group in steps.split(" ") %}
                                                <div>
                                                    {% for step in step_group %}
                                                        <img src="{{step}}.png">
                                                    {% endfor %}
                                                </div>
                                                <img class="stepSpacer" src="Empty.png">
                                            {% endfor %}
                                        </div>
                                    {% endfor %}

                                    {% for dialogue_name, collection in floor.get("Dialogue", {}).items() %}
                                        <h1 class="title">{{dialogue_name}}</h1>
                                        {% for dialogue in collection %}
                                            {% for speaker, lines in dialogue.items() %}
                                                {% for line in lines %}
                                                <div class="dialogueLine">
                                                    <img class="talksprite" src="{{speaker}}.png"> <p>{{line}}</p>
                                                </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}

                                    {% for dialogue_name, collection in floor.get("Void Memory", {}).items() %}
                                        <h1 class="title">{{dialogue_name}}</h1>
                                        {% for dialogue in collection %}
                                            {% for speaker, lines in dialogue.items() %}
                                                {% for line in lines %}
                                                <div class="dialogueLine">
                                                    <img class="talksprite" src="{{speaker}}.png"> <p>{{line}}</p>
                                                </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}


                                </div>
                                {% endfor %}
                            {% endif %}

                            </div>

                            {% endfor %}
                        {% endfor %}
                    {% endif %} 
                {% endfor %}



            </article>
        </main>
        <aside class="decor right"></aside>
    </body>
    <script src="voidstranger.js"></script>
</html>