@font-face {
    font-family: 'VoidStranger';
    src: URL('VoidStranger.ttf') format('truetype');
  }

body {
    background-color: #000000 !important;
}

main {
    outline: none;
}

.voidBox {
    image-rendering: pixelated;
    border: 6px solid transparent;
    border-image: url('border.png') 3 3 3 3 repeat;
    position: relative;
    margin: 15px;
    padding: 15px;
    min-height: 150px;
    font-size: 1.5em;
}

.dialogueLine{
    display: grid;
    align-items: center;
    grid-template-columns: 0.1fr 0.9fr;
    max-height: 60%;
}

.dialogueLine>p{
    margin: 3px;
}

.title {
    font-size: 2em;
    padding: 3px;
    margin: 3px;
}

.imageAndNotes {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
}

.otherImages {
    padding-top: 3px;
    display: flex;
    justify-content: center;
}

.otherImages>a>img {
    padding:0;
    max-height: 100px;
    width:auto;
    image-rendering: auto;

}

.steps>img {
    min-height:42px;
    width: auto;
}

.stepSpacer{
    min-height: 0px !important;
    width: 20px !important;
    height: auto !important;
}

.talksprite {
    width: auto;
    max-height: 50px;
}

.voidBox.domainHeader {
    text-align: center;
    font-size: 2em;
}

.floorNumber {
    top:0;
    right:0;
    position:absolute;
    margin: 1px;
}

.decor {
    background-image: url("side.png") !important;
    background-repeat: repeat-y;
    background-size: 40%;
    image-rendering: crisp-edges;
}

.decor.right {
    transform:scaleX(-1);
}

* {
    font-family: 'VoidStranger' !important;
    letter-spacing: 2px !important;
}